<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseworkForms.Properties.Settings.isad157_hbrownConnectionString"
            connectionString="server=proj-mysql.uopnet.plymouth.ac.uk;user id=ISAD157_HBrown;password=ISAD157_22226628;database=isad157_hbrown"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>